<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light shadow" id="nav" data-spy="affix">
  <div class="navbar-brand title" style="color: #84a9ac;">
    <h5><strong>Gus Threlfall</strong></h5>
    <p>Full Stack Web Developer</p>
  </div>
  <div class="social-links">
    <a href="https://github.com/gus-t27" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://uk.linkedin.com/in/gus-threlfall-5b054918b" target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <a href="#home"><i class="nav-link fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
      <a href="#services"><i class="nav-link fas fa-briefcase"></i>Services</a>
      <a href="#code"><i class="nav-link fas fa-code"></i>Projects</a>
      <a href="#tools"><i class="nav-link fas fa-cubes"></i>Tools</a>
      <a href="#contact"><i class="nav-link fas fa-envelope"></i>Contact</a>
      <a href="cv.pdf" download="CV"><i class="nav-link fas fa-download"></i>CV</a>
    </div>
  </div>
</nav>
